/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-mine-shaft: #333333;
$color-emperor: #4f4f4f;
$color-silver: #bdbdbd;
